* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: url('./images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Merriweather', serif;
    height: 100vh;
}

.list {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: #ffffff79;
    margin-top: 52px;
    border-radius: 20px;
    padding: 40px;
}

.title-container {
    display: flex;
    gap: 12px;
}

h2 {
    color: darkblue;
    font-size: 30px;
}

form {
    position: relative;
    height: 52px;
    margin-top: 20px;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    padding: 12px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

#add-btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: darkblue;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

#add-btn:hover {
    background-color: rgb(0, 0, 168);
}

.to-do-list-items {
    margin-top: 20px;
    flex: 1;
    overflow-y: scroll;
    height: 100%;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    gap: 12px;
    margin-bottom: 20px;
    padding: 8px 12px;
    background-color: rgba(128, 128, 128, 0.377);
    color: rgb(50, 50, 50);
    border-radius: 20px;
    cursor: pointer;
}

li:active {
    background-color: rgba(128, 128, 128, 0.632);
}

.checked {
    text-decoration: line-through;
    color: grey;
}

.remove-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: transparent;
    border: none;
    margin-left: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease;
    outline: none;
}

.fa-xmark {
    color: red;
    transition: color 0.5s ease;
}

.remove-task-btn:hover {
    background-color: #ffffff37;
}

.remove-task-btn:hover .fa-xmark {
    color: rgb(179, 0, 0);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .list {
        margin: 52px 40px;
    }
}

@media screen and (max-width: 576px) {
    .list {
        margin: 52px 20px;
        padding: 40px 20px;
    }

    .title-container{
        justify-content: center;
    }
}